@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter);

body {
	font-family: "Opens Sans", Arial, sans-serif;
}
h1, h2, h3 , h4 {
	font-family: "Bitter", Georgia, serif;
	font-weight: normal;
}
h1 {
	line-height: 1.1;
}
h3, h4 {
	margin-bottom:0;
}
a:link, a:visited {
	color:#145A8B;
}
a:hover {
	color:#168B14;
	text-decoration:none;
}

.container-fluid {
	margin: 0 auto;
	max-width: 1140px;
}

#header {
	background-color: rgba(245, 245, 245, 1);
	margin-bottom: 20px;
	text-align: center;
}
#header h5 {
	display: inline-block;
	margin:5px;
}

#banner hgroup {
	margin-top:70px;
}
#banner h1 {
	color: rgba(176, 43, 65, 1);
	margin-bottom: 0;
}
#banner h2 {
	color: rgba(58, 129, 179, 1);
	margin-top: 5px;
}

#content {
	background-color: rgba(245, 245, 245, 1);
	border-top:2px solid rgba(215, 215, 215, 1);
}
#content img {
	float:right;
	margin:20px 0 10px 10px;
}

ul.services {
	list-style:none;
	margin:5px 0 0 0;
	padding:0;
}

ul.services li {
	background-image:url(../images/check.png);
	background-position:0% 50%;
	background-repeat:no-repeat;
	line-height:20px;
	list-style-type:none;
	margin:0 0 5px;
	padding:0 0 0 30px;
}

#footer {
	background-color: rgba(61, 55, 46, 1);
	border-top:2px solid rgba(255, 255, 255, 1);
	color: #7F7970;
	font-size:11px;
	height:30px;
	padding-top:12px;
}
#footer p {
	margin: 0;
}

.pull-right {
	float: right;
}

@media (max-width: 767px) {
	#header {
		margin-bottom: 10px;
	}
	#header h5 {
		margin:0 5px;
	}
	#banner hgroup {
		margin: 0 0 10px;
		text-align: center;
	}
	#banner hgroup h3 {
		font-size:14px;
		margin: 0;
	}
 }